.pageTitle{
    @apply text-2xl font-bold mb-10 uppercase text-gray-700
}
.ordersBox{
    @apply shadow py-5 px-5 mb-5 bg-white
}
.button{
    color: #fff!important;
    background: var(--main-color)!important;
  @apply flex  items-center
   justify-center text-white text-sm font-bold uppercase
    px-7 py-3 shadow hover:shadow-lg
     mb-3 ease-linear transition-all duration-150
 
}
.addButtonSvg{
    margin: -2px 2px 0 0;
    width: 20px!important;
    height: 20px!important;
    @apply inline 
}

.productName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    display: block;
  }

.grandTotalWrap{
    @apply  text-right self-center text-gray-700
}
.grandTotalText{
 @apply flex
}
.grandTotal{
    
    color: var(--main-color);
    @apply inline-block text-xl font-bold ml-2 self-center
}
.orderItem{
    border-top: 1px solid #f2f2f2;
    @apply grid grid-cols-12 py-5
}
.orderFooter{
    border-top: 1px dashed #dacfba;
    @apply grid grid-cols-12 pt-5
}
.shopTitle{

}
.shopTitle a{
    @apply font-bold  text-gray-700
}
.shopTitle svg{
    fill: #777;
    @apply inline-block w-5 h-5 mr-2 
}
.orderNumber{
  
    @apply uppercase  text-gray-600
}