.root{
    min-height: 36rem;
    @apply mx-auto max-w-7xl my-10 px-5
}

.pageTitle{
    color: var(--main-color);
    border-left: 1px solid #ccc;

    @apply text-xl pl-5 ml-5 font-semibold tracking-normal inline-block 
}
.header{
   @apply bg-white shadow py-2 px-7 md:grid md:grid-cols-12 md:gap-6
   text-gray-500
}
.addressBox{
    @apply bg-white shadow py-5 px-7 mb-3
}
.item{
    align-items: center;
    @apply md:grid md:grid-cols-12 md:gap-6 
}
.cartByShop{
    @apply bg-white shadow
}
.itemBox{
    @apply py-3 px-7
}
.shopTitle{
    border-bottom: 1px solid #f2f2f2;
    @apply  py-3 px-7 
}
.thumb{
    width: 45px;
}
.nameWrap{
    align-items: center;
    vertical-align: middle;
    display: flex;
}
.itemName{

    max-width: 400px;
    color: #222;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 16px;
    max-height: 20px;
}
.itemTotal{
    color: var(--main-color);
}
.removeButton{
    @apply cursor-pointer inline-block
}
.grandTotal{
    color: var(--main-color);
    @apply text-xl font-bold ml-3
}
.addressBoxLabel{

    color: var(--main-color)!important; 
    @apply text-base font-semibold flex mb-3
}
.addressBoxLabel svg{
    margin: 4px 9px 0 0;
}
.removeButton svg{
    width: 16px;
    height: 16px;
    fill: #555;
}
.removeButton svg:hover{
    fill: #111;
}
.footer{
    @apply bg-white  shadow mt-3 py-3 px-7
 }
.button{
    color: #fff!important;
    background: var(--main-color)!important;
    width: 200px;
    @apply tracking-wide items-center text-white font-bold  py-2
    shadow hover:shadow-lg outline-none 
     transition-all duration-150
 
}
.cartFooter{
    background: #fff8ef;
    @apply md:grid md:grid-cols-12 md:gap-6 
    px-5 py-5
}
.footer label{
    align-items: center;
    @apply flex
}
.textInput{
    border: 1px solid #e4e2e2;
    width: 250px;
    border-radius: 3px;
    padding: 4px 12px;
    margin-left: 5px;
    align-items: center;
    box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
    border-radius: 2px;
    height: 40px;
}
.grandTotalWrap{
    color: #000;
    margin-left: calc(10%);
    align-items: center;
    @apply flex
}
.grandTotalCart{
    color: var(--main-color)!important;
    @apply text-base font-semibold ml-2
}
.leanHeaderWrap{
    @apply bg-white mb-5 shadow 
}
.leanHeader{
    @apply  px-5 py-5 mx-auto max-w-7xl md:grid md:grid-cols-12 md:gap-6
}
.gotoCartWrap{
    padding: 5px 0 0 0;
    @apply inline-block

}
.gotoCart{
    color: #555;
    @apply font-bold text-sm flex
}
.gotoCart svg{
    width: 22px;
    height: 23px;
    margin: 0px 3px 0 0;

}

.cartInputColumn{
    @apply md:col-span-4
}
.cartShippingColumn{
    @apply md:col-span-4
}
.cartPaymentColumn{
    @apply md:col-span-4 text-right

}