.boxWrap{
    min-height: 50rem;
    
    @apply mx-auto max-w-7xl my-10
}
.productBox{
    @apply pt-6 px-3 md:px-0  bg-white
}
.pageTitle{
    @apply text-2xl px-3 md:px-0 font-semibold tracking-normal mb-10
}
.priceBox{
    background: #fafafa;
    @apply py-2 px-2
}
.contentTitle{
    @apply py-2 m-auto md:w-3/4 text-gray-700 text-base font-semibold uppercase
}

.price{
    font-size: 1.8rem;
    color: var(--main-color);
    @apply font-semibold my-1
}
.promoBox{

    border-top: #f2f2f2 1px solid;
    @apply pt-6 px-3 mt-7
}
.promoBox label{
    
    font-size: 15px;
    @apply inline-block md:w-36 mb-5 md:mb-0
}
.promoBox svg{
    vertical-align: top;
    fill: var(--main-color);
    width: 22px;
    height: 22px;
    @apply inline mr-3 md:mt-2
}
.actionLabel{
    min-width: 150px;
    @apply inline-block text-gray-600 px-3 md:px-0 
}
.categoryMenu{
    @apply lg:flex hidden mb-5
}
.categoryMenu a{
}
.categoryMenu svg{
    margin: 2px 5px 0 5px;
    fill: #555;
    width: 18px;
    height: 18px;

}
.productNameBreadcrumb{
    color: #666;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: 500px;
}
.priceOriginal{
    font-size: 1rem;
    @apply text-gray-400 line-through mr-2
}
.addToCartBox{

    @apply my-3
}

.addToCartButton{
    border: 1px solid var(--main-color);
    background: rgb(175 76 45 / 10%);
    color: var(--main-color);
    @apply my-2 px-5 py-3
}
.addToCartButton svg{
    fill: var(--main-color);
    width: 22px;
    height: 22px;
    margin: -6px 6px 0 0;
    @apply inline
}
.addNowButton{
    color: #fff;
    background: var(--main-color);
    @apply my-2 px-10 py-3 mr-6
}
.attributeList{
    max-width: 700px;
}
.attributeList label{
    width: 220px;
    @apply font-semibold
}
.attributeValue{
   @apply inline
}
.attributeRow{

    @apply py-3 px-3 flex
}

.attributeRow:nth-child(odd) {
    background: #f2f2f2;
}
.loadingBox{
    min-height: 600px;
}