.categoryMenu{
    @apply my-10 mx-12
}
.menuItem{
    border-bottom: 1px solid #f2f2f2;
    padding: 0 0 10px 10px;
    font-size: 1rem;
}
.menuItem:hover a,
.menuItem a:hover{
 color: var(--main-color);
}