.root {
  height: 47px !important;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  @apply fixed w-full shadow top-0 z-40 transition-all duration-150;

}

.link, .link_last{
  font-size: 13px;
  @apply inline-flex items-center text-gray-900 px-1 leading-6 
  font-semibold transition ease-in-out duration-75 cursor-pointer;

}

.link:hover {
  @apply text-accents-9;
}

.link:focus {
  @apply outline-none text-accents-8;
}

.logo {
  width: 120px;
  margin-top: 2px;
  @apply inline-block cursor-pointer transform duration-100 pt-1 ease-in-out mr-9;
}

