.input {
    @apply px-3 py-2 bg-white rounded text-sm  focus:outline-none focus:ring w-full ease-linear transition-all duration-150
}   
.button{
    color: #fff!important;
    width: 180px;
  @apply  text-xs font-semibold hover:text-white items-center
   justify-center text-white bg-gray-700 hover:bg-gray-900 
   uppercase px-7 py-3 shadow-md  hover:shadow-lg outline-none 
   focus:outline-none  ease-linear transition-all duration-150
 
}
.input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.14);
  box-sizing: border-box;
  box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
  color: #222;
  height: 40px;
  padding: 10px;
  -webkit-transition: border-color .1s ease;
  transition: border-color .1s ease;
  @apply  mr-3 px-3 py-2 bg-white text-sm 
   focus:outline-none focus:ring ease-linear 
   transition-all duration-150
}   
.button svg {

  @apply animate-spin h-4 w-4 mr-1 inline-block
}
.formMessage{
  @apply text-sm text-red mb-5

}