*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  background-color: var(--backgroundColor);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.header-bar{
  height: 45px;
  @apply shadow px-5 z-50 fixed top-0 left-0 w-full py-3 bg-white

}
.header-bar .logo{
  margin: -5px 0 5px 0;
}
.app-container{
  @apply mt-12
}
.sidebar-container {
  position: fixed;
  z-index: 10;
  width: auto;
  height: calc(100% - 56px);
  overflow-y: hidden;
  overflow-x: hidden;
  background: #fff;
  scrollbar-width: thin;
}