.headTitle{
    @apply text-3xl font-bold text-center max-w-3xl m-auto text-gray-700
}
.introText{
    @apply text-xl text-gray-600 text-center max-w-4xl m-auto mt-10 mb-24
}
.headBox{
    background: url('/pages/about/h3.jpg') no-repeat center center;
    background-size: cover;
    min-height: 200px;
    margin: 0 0 70px 0;
    @apply text-center
}
.headBox h1{
    position: relative;
    z-index: 1;
    @apply text-2xl font-bold text-center pt-60 text-gray-800
}
