.h1{
    @apply text-4xl font-bold mb-10 uppercase text-gray-700
}
.label {
    font-size: 0.8rem!important;
    @apply block uppercase text-xs font-bold mb-2 ml-1
  }
.input {
    @apply px-3 py-3 bg-white rounded text-sm shadow-md focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-transparent
}   

.button{
    color: #fff!important;
  @apply  text-xs font-semibold hover:text-white items-center justify-center text-white bg-gray-700 hover:bg-gray-900 uppercase px-7 py-3 shadow-md  hover:shadow-lg outline-none focus:outline-none  ease-linear transition-all duration-150
 
}
.formBox{
    @apply shadow sm:px-16 sm:py-12 px-5 py-5 mx-5 my-10 bg-white
}
.checkbox{
    margin-top: 6px;
    min-width: 16px;
    @apply h-5 w-5 text-gray-600 lg:col-span-1
}
.line{
    @apply w-full text-gray-600 text-center my-5
}