.h1{
    @apply text-2xl font-bold uppercase text-gray-700
}
.label {
    font-size: 0.8rem!important;
    @apply block uppercase text-xs font-bold mb-2 ml-1 text-gray-700
  }
.input {
    @apply px-3 py-2 bg-white rounded text-sm  focus:outline-none focus:ring w-full ease-linear transition-all duration-150
}   

.backButton{
    @apply font-semibold text-sm
}

.button{
    color: #fff!important;
    background: #DB4140!important;
  @apply inline ml-5 hover:text-white tracking-wide items-center justify-center text-white text-sm font-bold uppercase px-5 py-2 shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150 
 
}
.button svg {
 width: 20px;
 height: 20px;
}
.formBox{
    @apply shadow sm:pr-16  px-12 py-5 my-10 bg-white
}
.formMessage{
    @apply text-sm text-red mb-5

}