.h1{
    @apply text-2xl font-bold mb-10 uppercase text-gray-700
}
.label {
    font-size: 0.8rem!important;
    @apply block uppercase text-xs font-bold mb-2 ml-1 text-gray-700
  }
.input {
    @apply px-3 py-2 bg-white rounded text-sm  focus:outline-none focus:ring w-full ease-linear transition-all duration-150
}   

.button{
    color: #fff!important;
    background: #DB4140!important;
  @apply flex hover:text-white tracking-wide items-center justify-center text-white text-sm font-bold uppercase px-7 py-3 shadow hover:shadow-lg outline-none focus:outline-none mb-3 ease-linear transition-all duration-150
 
}
.formBox{
    @apply shadow sm:pr-16  px-12 py-5 my-10 bg-white
}
.formMessage{
    @apply text-sm text-red mb-5

}